<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My test Blog</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
          rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css"
          rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" type="text/css"
          rel="stylesheet">
    <!--

    TemplateMo 553 Xtra Blog

    https://templatemo.com/tm-553-xtra-blog

    -->
</head>
<body>
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i
                    class="fas fa-times fa-2x"></i></div>
            <h1 class="text-center">Xtra Blog</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active"><a href="{% url 'quiz:index' %}"
                                                  class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Blog Home
                </a></li>
                <li class="tm-nav-item"><a href="quiz_details.html"
                                           class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Single Post
                </a></li>
                <li class="tm-nav-item"><a href="about.html"
                                           class="tm-nav-link">
                    <i class="fas fa-users"></i>
                    About Xtra
                </a></li>
                <li class="tm-nav-item"><a href="contact.html"
                                           class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Contact Us
                </a></li>
            </ul>
        </nav>
        <div class="tm-mb-65">
            <a rel="nofollow" href="https://fb.com/templatemo"
               class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://twitter.com" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="https://instagram.com" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="https://linkedin.com" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
            Xtra Blog is a multi-purpose HTML template from TemplateMo website.
            Left side is a sticky menu bar. Right side content will scroll up
            and down.
        </p>
    </div>
</header>
<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                    <input class="form-control tm-search-input" name="query"
                           type="text" placeholder="Search..."
                           aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon"
                           aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        {% block content %}
            <div class="row tm-row">
                {% for quiz in all_quiz %}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="{% url 'quiz:quiz_details' uuid=quiz.uuid %}"
                           class="effect-lily tm-post-link tm-pt-60">
                            <div class="tm-post-link-inner">
                                <img src="{{ quiz.image.url }}" alt="Image"
                                     class="img-fluid">
                            </div>
                            <span class="position-absolute tm-new-badge">{{ quiz.get_level_display }}</span>
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">
                                {{ quiz.title }}</h2>
                        </a>
                        <p class="tm-pt-30">
                            {{ quiz.description }}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">Created</span>
                            <span class="tm-color-primary">{{ quiz.create_date }}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>{{ quiz.questions_count }} questions</span>
                            <span>to be add</span>
                        </div>
                    </article>
                {% endfor %}
            </div>
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="row tm-row tm-mt-100 tm-mb-75">
                    <div class="tm-prev-next-wrapper">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="mb-2 tm-btn tm-btn-primary tm-prev-next">Prev</a>
                        {% else %}
                            <a class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled"
                               disabled>Prev</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                        {% else %}
                            <a class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled"
                               disabled>Next</a>
                        {% endif %}

                    </div>
                    <div class="tm-paging-wrapper">
                        <span class="d-inline-block mr-3">Page</span>
                        <nav class="tm-paging-nav d-inline-block">
                            <ul>
                                {% for page_number in page_obj.paginator.page_range %}
                                    {% if page_number == page_obj.number %}
                                        <li class="tm-paging-item active">
                                            <a href="?page={{ page_number }}"
                                               class="mb-2 tm-btn tm-paging-link">{{ page_number }}</a>
                                        </li>
                                    {% else %}
                                        <li class="tm-paging-item">
                                            <a href="?page={{ page_number }}"
                                               class="mb-2 tm-btn tm-paging-link">{{ page_number }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        <footer class="row tm-row">
            <hr class="col-12">
            <div class="col-md-6 col-12 tm-color-gray">
                Design: <a rel="nofollow" target="_parent"
                           href="https://templatemo.com"
                           class="tm-external-link">TemplateMo</a>
            </div>
            <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                Copyright 2020 Xtra Blog Company Co. Ltd.
            </div>
        </footer>
    </main>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    function checkboxReset(checkbox) {
        let checkboxes = document.getElementsByName('checkbox')
        checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            }
        )
    }
</script>
<script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
</html>